<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
<script type="text/javascript" src="../src/maplist.js"></script>
</head>

<body>

<script type="text/javascript">
$(function(){
  var entries = [ {
    lat: 36.115135,
    lng: 137.953,
    title: "うどん",
    genre: "kitune",
    genreName: "きつね",
    message: "あかいきつね"
  },{
    lat: 36.115135,
    lng: 137.955,
    title: "そば",
    genre: "tanuki",
    genreName: "たぬき",
    message: "みどりのたぬき"
  },{
    lat: 36.115136,
    lng: 137.954,
    title: "肉うどん",
    genre: "kitune",
    genreName: "きつね",
    message: "お肉がお得感！"
  } ];
  var maplist = new MapList({
    data: entries,
    listTemplate: $("#tmpl-list-elem").html(),
    infoTemplate: $("#tmpl-info-window").html()
  });
});
</script>
<script id="tmpl-info-window" type="text/template">
<div id="info-window">
  <h3> <%- title %> </h3>
  <p>[ <%- genreName %> ] </p>
<p> <%- message %> </p>
</div>
</script>
<script id="tmpl-list-elem" type="text/template">
<li>
<a href="#" class='open-info'> <%- title %> </a>
<span>[ <%- genreName %> ] </span>
</li>
</script>

<h4>Genre</h4>
<ul id="genre">
  <li><a href="tanuki" data-target-genre="tanuki">たぬき</a></li>
  <li><a href="kitune" data-target-genre="kitune">きつね</a></li>
  <li><a href="all" data-target-genre="__all__">すべて</a></li>
</ul>

<div id="map_canvas" style="width:400px;height:400px;"></div>

<h4>List</h4>
<ul id="list">
</ul>

</body>
</html>
